@import '../common';

.default-placeholder {
  border-radius: 3px;
  box-shadow: 0 1px 6px -2px rgba(74, 102, 165, 0.1);
  background-color: #ffffff;
  border: solid 1px #e5e9f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
  letter-spacing: 0.2px;
  color: #b8c2cc;
  font-size: 90%;
  box-sizing: border-box;
  min-width: 280px;
  .text {
    flex: 1;
    min-width: 190px;
    text-align: left;
    .dates-container {
      font-size: 90%;
      .time {
        font-size: 75%;
      }
    }
  }
  .icon {
    border-radius: 2px;
    height: 15px;
    width: 16px;
    border: 0.11em solid $primary-color;
    margin-left: 10px;
    box-sizing: border-box;
    position: relative;
    .calendar-hooks {
      position: absolute;
      left: 0.5px;
      top: -0.2em;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .hook {
        height: 3px;
        border: 1px solid $primary-color;
      }
    }

    .date-dots {
      display: grid;
      padding: 3px 2px;
      grid-template-columns: 1fr 1fr 1fr;
      .dot {
        background-color: $primary-color;
        height: 2px;
        width: 2px;
        margin-bottom: 2px;
      }
    }
  }
}
