$time: 0.3s;
%default-visible {
  background-color: #0000003b;
  opacity: 1;
}

%default-hidden {
  transition-delay: 0.3s;
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  text-align: center;
  background-color: #0000003b;
  transition: all 0.2s;
  overflow: hidden;
  will-change: transform;
  .content {
    position: absolute;
    background-color: white;
    width: 100%;
    transition: transform $time ease;
    transition-delay: 0.1s;
    background-color: white;
  }
  &.top {
    &.visible {
      transform: translateY(0%);
      top: 0;
      left: 0;
      @extend %default-visible;
      .content {
        transform: translateY(0%);
      }
    }
    &.hidden {
      transform: translateY(-105%);
      top: 0;
      left: 0;
      @extend %default-hidden;
      .content {
        transform: translateY(-100%);
      }
    }
  }
  &.bottom {
    &.visible {
      transform: translateY(0%);
      @extend %default-visible;
      .content {
        bottom: 0;
        left: 0;
        transform: translateY(0%);
      }
    }
    &.hidden {
      transform: translateY(105%);
      @extend %default-hidden;
      .content {
        transform: translateY(100%);
        bottom: 0;
        left: 0;
      }
    }
  }
}
