@import '../common';

.year-picker {
  padding: 10px;
  height: 75%;
  display: flex;
  flex-direction: column;
  .year-grid {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    .year-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: rgba(42, 123, 255, 0.2);
      }
      &.selected {
        color: $primary-color;
        font-weight: bold;
      }
      &.disabled {
        color: #808080a3;
        background-color: transparent;
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }
  .button-placeholder {
    width: 38px;
    height: 38px;
  }
  .close {
    position: absolute;
    bottom: -40px;
  }
}
