.picker {
  display: inline-flex;
  flex-direction: column;
  width: 30px;
  align-items: center;
  .arrow-wrapper {
    cursor: pointer;
    .arrow {
      border: solid black;
      border-width: 0 4px 4px 0;
      display: inline-block;
      border-radius: 4px;
      padding: 5px 5px;
    }
    .arrow.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
    .arrow.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
  input {
    width: 30px;
    text-align: center;
    border: none;
    background-color: transparent;
    outline: none;
  }
  .value {
    margin: 10px 0;
    font-weight: bold;
  }
}
