.month-select {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 2;
  transition: all 0.5s ease;
  transform: translateY(-103%);
  will-change: transform;
  padding: 10px;
  &.visible {
    transform: translateY(0%);
  }
  .select-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100%;
    .select-item {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      &:hover {
        background-color: rgba(42, 123, 255, 0.2);
        cursor: pointer;
      }
      &.disabled {
        color: #808080a3;
        background-color: transparent;
        cursor: auto;
      }
      &.selected {
        color: red;
      }
    }
  }
}
