@import '../index';
.month-select {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 70%;
  &.visible {
    transform: translateY(0%);
  }
  .close {
    position: absolute;
    bottom: -40px;
  }
  .select-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 26px;
    flex: 1;
    .select-item {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      &:hover {
        background-color: rgba(42, 123, 255, 0.2);
        cursor: pointer;
      }
      &.disabled {
        color: #808080a3;
        background-color: transparent;
        cursor: not-allowed;
        pointer-events: none;
      }
      &.selected {
        color: $primary-color;
        font-weight: bold;
      }
    }
  }
}
