.month-select {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 2;
  transition: all 0.5s ease;
  transform: translateY(-100%);
  will-change: transform;
  &.visible {
    transform: translateY(0%);
  }
  .select-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    .select-item {
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: gray;
        color: white;
        cursor: pointer;
      }
      &.disabled {
        color: #808080a3;
        background-color: transparent;
        cursor: auto;
      }
      &.selected {
        color: red;
      }
    }
  }
}
