.grids {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  .animation-helper {
    position: absolute;
    display: flex;
    transform: translateX(-268px);
    will-change: transform;
    &.move-left {
      transition: all 0.5s ease;
      transform: translateX(-6px);
    }
    &.move-right {
      transition: all 0.5s ease;
      transform: translateX(-530px);
    }
  }

  //   temp style
  .month {
    border-radius: 4px;
    margin: 0 6px;
  }
}
